/* Footer.css */
.footer {
    background-color: #424242;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-left: 15px;
  }
  
  .footer-links a {
    color: #f4f4f4;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #a9a9a9;
  }
  